<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberParallelSuite" parallel="methods" thread-count="3">
    <parameter name="cucumber.filter.tags" value="@smoke" />

    <test name="CucumberParallelTest">
        <classes>
            <class name="com.nba.runner.TestNGCucumberRunner"/>
        </classes>
    </test>
</suite>
